# Dependencies
node_modules/

# Environment variables
.env

# Uploads
uploads/

# Logs
logs/
*.log

# Runtime data
pids/
*.pid
*.seed
*.pid.lock

# Coverage directory
coverage/

# Caches & OS files
.DS_Store
.npm
.eslintcache
*.tgz

# Build output (if any)
dist/
build/
